html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ////////////// */
*,
*:before,
*:after {
	box-sizing: border-box;
}
.chat_wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
}
.chat_wrapper.closed_chat {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 0;
	right: 0;
}
.mCustomScrollBox {
	outline: none;
}
.mCSB_container {
}
.chat_container {
	margin: 0 auto;
	min-width: 320px;
	width: auto;
	z-index: 100;
	background-color: #fff;
	position: relative;
	user-select: none;
	outline: none;
}
.chat_container.resizable {
	min-height: 160px;
	width: auto;
	height: auto;
}
.chat_container .resizer {
	cursor: nesw-resize;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 8px solid red; 
	border-left: 8px solid transparent;
}
.chat_header {
	padding: 15px;
}
.chat_header {
	color: #fff;
	background-color: #000;
}
.chat_main {
	padding: 15px;
	overflow: hidden;
	height: auto;
	max-height: -webkit-calc(100% - 51px);
	max-height: -moz-calc(100% - 51px);
	max-height: -ms-calc(100% - 51px);
	max-height: calc(100% - 51px);
}
.chat_main .form label {
	display: block;
	margin: 10px 0;
}





/*.chat_main .form {
	box-sizing: content-box;
}*/
.chat_main .form #textarea {
	resize: none;
	display: block;
	width: 100%;
	outline: none;
	margin: 10px 0;
	padding: 5px 10px;
	overflow: hidden;
	/*box-sizing: content-box;*/
}
.chat_main .form label p {
	margin-bottom: 10px;
}
.chat_main .form label input {
	width: 100%;
	outline: none;
	padding: 0 10px;
}
.chat_main .form button {
	display: block;
	margin: 0 auto;
}
.form label.error {
	height: 20px;
	border: 1px solid yellow;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.form input.error {
	border: 2px solid yellow;
}
.mCSB_scrollTools .mCSB_draggerRail {
	width: 10px!important;
}